@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Quicksand:wght@300..700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family:'Covered By Your Grace', Latin ;
}
/* navbar */
/* Style for Navbar Links */
#navbar {
  position: relative;
}

#navbar a {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

/* Dropdown */
#servicesDropdown {
  position: absolute;
  top: 100%; /* Tampilkan dropdown tepat di bawah elemen */
  left: 0;   /* Pastikan dropdown berada di sebelah kiri tombol */
  z-index: 1000;
  display: none; /* Sembunyikan secara default */
  margin-top: 0.5rem; /* Jarak antara tombol dan dropdown */
}

#servicesDropdown.show {
  display: block; /* Tampilkan dropdown */
}

/* Style for Hamburger Menu */
#hamburgerButton {
  font-size: 1.5rem;
}

/* Responsive Navbar for Mobile */
@media (max-width: 768px) {
  #navbar {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: white;
      flex-direction: column;
      padding: 1rem 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #navbar a,
  #navbar .relative {
      display: block;
      padding: 0.5rem 1.5rem;
  }

  .tab-button {
      font-size: 1rem;
      padding: 0.75rem 1.5rem;
  }
}

  .container {
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .hero-bg {
    background-image: url('../image/home.jpg'); /* Ganti dengan path gambar Anda */
    background-size: cover;
    background-position: center;
    height: 400px; /* Atur tinggi sesuai kebutuhan */
    position: relative;
}

.header {
    background: none; /* Menghapus background dari header */
    position: absolute; /* Agar header berada di atas hero-bg */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* Pastikan header berada di atas hero-bg */
    padding: 1rem; /* Atur padding sesuai kebutuhan */
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.4);
}

#profil-daerah {
  background: linear-gradient(to bottom, #f3f4f6, #ffffff);
}
.hidden {
  display: none;
}
.content-container {
  height: 600px; /* Set a fixed height */
}
.active {
  border-bottom: 2px solid #3b82f6; /* Blue underline */
  color: #3b82f6; /* Blue text */
}